<!DOCTYPE html>
<html>
  <head>
    <title> rain of squares </title>
    <meta charset="utf-8">

    <!--  jQuery  -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>

    <link href="css/style.css" rel="stylesheet" media="screen">

  </head>
  <body>
    <header>
        <div class="header header--left">
          <p>
            <span> Speed: </span>
            <span class="speed">0</span>
          </p>
        </div>
        <div class="header header--right">
          <p>
            <span> Count: </span>
            <span class="count">00</span>
          </p>
        </div>
    </header>

    <main>

    </main>

    <footer>
      <button class="StopButton" type="button" name="button">Stop</button>
      <button class="StartButton" type="button" name="button">Start</button>
    </footer>

<!--
    <div class="carousel container">
    <div class="carousel-arrow-left"><span></span></div>
    <div class="carousel-hider">
        <ul class="carousel-list">
            <li class="carousel-element"><img src="img/IMG_0519.png"></li>
            <li class="carousel-element"><img src="img/IMG_0530.png"></li>
            <li class="carousel-element"><img src="img/IMG_0544.png"></li>
            <li class="carousel-element"><img src="img/IMG_0547.png"></li>
            <li class="carousel-element"><img src="img/IMG_0552.png"></li>
        </ul>
    </div>
    <div class="carousel-arrow-right"><span></span></div>
    </div>


        <script type="text/template" id="htmlTemplater">
            <div class="container">
            <div class="template--container template--center">
            <h1><%= titleH1 %></h1>
            <img src="<%= titleImg %>">
            </div>
            <%  for (var i in items){ %>
                <div class="template--container">
               <% if (items[i].title.length < items[i].text.length) {
                    var countNotLi = items[i].title.length -1;
                    for (var j = 0; j < countNotLi; j++){ %>
                        <p class="template--title"> <%= items[i].title[j] %> </p>
                        <p> <%= items[i].text[j] %> </p>
                    <% };  %>
                    <p class="template--title"> <%= items[i].title[countNotLi] %> </p>
                    <ul>
                    <% for (var k = countNotLi; k < items[i].text.length; k++){  %>
                        <li><%= items[i].text[k] %></li>
                    <% };%>
                    </ul>
              <% } else{
                    for (var j = 0; j < items[i].title.length; j++){ %>
                        <p class="template--title"> <%= items[i].title[j] %> </p>
                        <p> <%= items[i].text[j] %> </p>
                <% }; }%>
                </div>
            <% } %>

            </div>

        </script>
  -->
  </body>
  </html>
