html {
    height: 100%;
}
body {
    height: 100%;
    background: #efefef;
    font-family: OpenSans, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #2c2c2c;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
}
a {
    text-decoration: none;
    display: inline-block;
}
.wrapper {
    min-height: 100%;
    background: #fff;
    width: 700px;
    margin: 0px auto;
    padding: 40px 40px 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    text-align: left;
}

.img_logo{
    text-align: left;
}

.img_sect{
    text-align: center;
    padding: 30px 0px;
    border: 1px solid #c8c8c8;
}
section{
    width: 460px;
    float: right;
    margin: 30px;
}
article{    
    text-align: left;
    font-size: 10px;
    line-height: 16px;
    margin: 18px;
}
header {
    background: #4f4e4e;
    font-size: 11px;
    color: #fff;
    margin: 30px 0px;
}    
footer {
    clear: both;
    background: #e1e1e1;
    margin: 30px 0px;
}

ul {
    margin: 0;
    text-align: left;
}

.header_menu a, 
.footer_menu a{
    display: block;
    margin: 0 auto;
    width: 70px;
}
.header_menu a {
    font-size: 11px;
    color: #fff;
}

.header_menu ul,
.footer_menu ul{
    list-style: none;
    line-height: 25px;
    font-weight: bold;
}

.header_menu li,
.footer_menu li{
    display: inline-block;
    padding: 5px 20px 5px;
}
.header_menu li{
    width: 50px;
    background: #4f4e4e;
    border-left: 1px solid #4f4e4e;
    border-right: 1px solid #4f4e4e;
}
.header_menu li:hover {
    background: #3f3f3f;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}
.footer_menu li{
    width: 50px;
}
.footer_menu li a:hover{
    text-decoration: underline;
}
.footer_menu a {
    display: block;
    color: #2c2c2c;
}
nav {
    clear: both;
    float: left;
    padding: 0px;
    margin: 30px 0px;
}
nav li{
    font-size: 10px;
    border: 1px solid #c8c8c8;
    padding: 5px 10px;
    width: 150px;
}
nav a{
    color: #656363;
    display: block;
    line-height: 20px;
}

nav li:hover{
    background: #f9f9f9;
    padding: 5px 25px;
    max-width: 120px;
}
nav a:hover{
    color: #2c2c2c;
}


.footer_menu ul li:last-child:hover{
    text-decoration: none;
}
.footer_menu ul li:last-child{
    text-align: right;
    display: block;
    float: right;
    width: 150px;
}